.video-background{
 width: 100%;
 height: 60vh;
 display: flex;
 position: relative;
 justify-content: center;
 align-items: center;
 margin-bottom: 2em;
}

.video-background > video{
 width: 100%;
 height: 60vh;
 display: flex;
 position: absolute;
 object-fit: cover;
 top: 0;
 left: 0;
 z-index: 0;

}